name: hello-world
on: [push]
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "This is langesh from dever"
      - run: echo "I am going to rule this dev world"
  second-job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Second job first step"
  third-job:
    runs-on: ubuntu-latest
    steps:
      - run: actions/checkout@v2
      - run: actions/setup-node@v2
      - name: printing
        run: node -v
